.Shop
{
  border: double rgb(217 56 56 / 78%) 2px;
  background-color: #f5dede;
  display: inline-block;
  padding: 50px;
  
}

.Shop_name
{
  color: rgb(102, 29, 171);
  font-size: 30px;
}

.Shop_address
{
  color: rgb(208, 92, 208);
  font-size: 20px;
}

.Shop_name, .Shop_address
{
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
